<div class="navbar-inner">
    <div class="container">
        <a href="/" class="brand">
            <img height="28px" src="<%=config.site_logo%>" alt="logo"></img>
        </a>
        <form action="" class="navbar-search">
            <input type="text" class="search-query span3">
        </form>
        <ul class="nav pull-right">
            <li><a href="#">首页</a></li>
            <li><a href="#">新手入门</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="/signup">注册</a></li>
            <li><a href="/signin">登陆</a></li>
        </ul>

    </div>
</div>
